{% extends 'main_app/base_main_app.html' %}


{% block title %}
    News page
{% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            <h1>News</h1>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque debitis ex mollitia nam natus quia sunt.
                Amet beatae consequuntur debitis error exercitationem, expedita illum, magnam maiores perspiciatis, quis
                tenetur vel.
                </span>
                <br>

                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque debitis ex mollitia nam natus quia sunt.
                Amet beatae consequuntur debitis error exercitationem, expedita illum, magnam maiores perspiciatis, quis
                tenetur vel.
                </span>

            </p>
        </div>
    </div>
</div>


{% endblock %}